In [1]:
# for with else
# nested for loop
# one liner for loop

In [2]:
# if
# else

In [3]:
# for 
# else

In [5]:
for i in range(10):
    print(i*i)
    
else:
    print('for loop completed successfully!!')

0
1
4
9
16
25
36
49
64
81
for loop completed successfully!!

In [6]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i*i)
    
else:
    print('for loop completed successfully!!')

0
1
4
9
16

In [7]:
# ex

In [8]:
# prime numbers

In [9]:
# 2,3,5,7

In [17]:
no = 859

for i in range(2,no):
    if no % i == 0:
        print(f'{no} is not a Prime number!!')
        break
        
else:
    print(f'{no} is a Prime number!!')

859 is a Prime number!!

In [18]:
# nested for loop

In [19]:
# for i in list:
#     for j in list:
#         for k in list

In [29]:
team_a = ['rohan','karan','ajay','lucky','mohit']
team_b = ['Akshay','Jatin','Vipin','roshan','ravi']

import time

for i in team_a:  # outer loop
    for j in team_b:  # inner loop
        print(i,j)
#         time.sleep(0.5)
    print('---------------inner loop done -----------------------------')

rohan Akshay
rohan Jatin
rohan Vipin
rohan roshan
rohan ravi
---------------inner loop done -----------------------------
karan Akshay
karan Jatin
karan Vipin
karan roshan
karan ravi
---------------inner loop done -----------------------------
ajay Akshay
ajay Jatin
ajay Vipin
ajay roshan
ajay ravi
---------------inner loop done -----------------------------
lucky Akshay
lucky Jatin
lucky Vipin
lucky roshan
lucky ravi
---------------inner loop done -----------------------------
mohit Akshay
mohit Jatin
mohit Vipin
mohit roshan
mohit ravi
---------------inner loop done -----------------------------

In [33]:
team_a = ['rohan','karan','ajay','lucky','mohit']
team_b = ['Akshay','lucky','Vipin','roshan','ravi']

import time

for i in team_a:  # outer loop
    for j in team_b:  # inner loop
        if i == j:
            print(i)

lucky

In [35]:
a = [1,232,412,34,45,34,254,64,21,332,456]
b = [12,34,432,454,64,21,43,45,4,54324,54]

common = []

for i in a:
    for j in b:
        if i==j:
            common.append(i)
            
common = list(set(common))
print('Common Elements: ',common)

Common Elements:  [64, 34, 21, 45]

In [36]:
a = ['karan','ajay','ravi','karan','ravi','mohan','amit','amit','mohan']

b = list(set(a))
b

['karan', 'amit', 'mohan', 'ajay', 'ravi']

In [37]:
a = ['karan','ajay','ravi','karan','ravi','mohan','amit','amit','mohan']

b = set()

for i in a:
    b.add(i)
    
b

{'ajay', 'amit', 'karan', 'mohan', 'ravi'}

In [39]:
a = [12,43,54,312,44,56]
b = [1,243,56,12,44,456,434]
c = [12,32,44,3,2,456,4]

common = []

for i in a:
    for j in b:
        for k in c:
            if i==j==k:
                common.append(k)
print(common)

[12]
[12, 44]

In [40]:
# one liner for loop

In [41]:
a = 34

print('even') if a%2==0 else print('odd')

even

In [45]:
a = [1,24356,78,65432,1,234,56,5454346]


for i in a: print(i**2)

1
593214736
6084
4281346624
1
54756
3136
29749890287716

In [52]:
a = [1,24356,78,65432,1,234,56,5454346]


for i in a: print(i) if i%2==0 else None

24356
78
65432
234
56
5454346

In [53]:
a = [1,24356,78,65432,1,234,56,5454346]


for i in a: 
     if i%2==0:
        print(i)

24356
78
65432
234
56
5454346