In [1]:
a = {'Name':'Ajay','Age':23,'Address':'Noida'}

print(a)

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida'}

In [3]:
# 1>> dict does not support indexing, we can access value with the help of key

In [4]:
a[0]

KeyError: 0

In [5]:
a = [1,243,346,7]

a[234]

IndexError: list index out of range

In [6]:
var = {'Name':'Ajay','Age':23,'Address':'Noida'}

print(var)

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida'}

In [7]:
# var[indexing/slicing]:- not support

In [8]:
# var['key name']

In [9]:
var['Age']

23

In [10]:
var

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida'}

In [11]:
var['Address']

'Noida'

In [12]:
var['name']

KeyError: 'name'

In [13]:
var

{'Name': 'Ajay', 'Age': 23, 'Address': 'Noida'}

In [15]:
# we can change value with the help key 
var['Address']

'Noida'

In [16]:
var['Address'] = 'Greater Noida'

In [17]:
print(var)

{'Name': 'Ajay', 'Age': 23, 'Address': 'Greater Noida'}

In [19]:
var['Name'] = 'Ajay verma'

In [20]:
print(var)

{'Name': 'Ajay verma', 'Age': 23, 'Address': 'Greater Noida'}

In [22]:
var['age'] = 34

In [23]:
print(var)

{'Name': 'Ajay verma', 'Age': 23, 'Address': 'Greater Noida', 'age': 34}

In [24]:
var['Class']  = 12

In [25]:
print(var)

{'Name': 'Ajay verma', 'Age': 23, 'Address': 'Greater Noida', 'age': 34, 'Class': 12}

In [26]:
# empty dict

In [27]:
empty = {}

print(empty,type(empty))

{} <class 'dict'>

In [28]:
empty_set = set()

empty_set

set()

In [29]:
empty = dict()

print(empty,type(empty))

{} <class 'dict'>

In [31]:
empty['Age'] = 45

In [32]:
print(empty)

{'Age': 45}

In [33]:
empty['Age'] = 23

In [34]:
print(empty)

{'Age': 23}

In [35]:
a = {'Name':'Mohan','Age':23,'Name':'Karan','Class':12,'Age':10}

print(a)

{'Name': 'Karan', 'Age': 10, 'Class': 12}

In [64]:
data = {'Names':['Ajay','Ravi','Akshay'],
       'Salary':[34567,45678,56789]}


print(data)

{'Names': ['Ajay', 'Ravi', 'Akshay'], 'Salary': [34567, 45678, 56789]}

In [65]:
data['Names'].append('Salman Khan')

In [66]:
print(data)

{'Names': ['Ajay', 'Ravi', 'Akshay', 'Salman Khan'], 'Salary': [34567, 45678, 56789]}

In [67]:
data['Names'][1] = 'Ravi Shankar'

In [68]:
print(data)

{'Names': ['Ajay', 'Ravi Shankar', 'Akshay', 'Salman Khan'], 'Salary': [34567, 45678, 56789]}

In [69]:
data['Salary'][1]+=1

In [70]:
print(data)

{'Names': ['Ajay', 'Ravi Shankar', 'Akshay', 'Salman Khan'], 'Salary': [34567, 45679, 56789]}

In [ ]:
a = 10
a+=1

In [71]:
data['Names'][-1]  = 'MR.'+data['Names'][-1].upper()

In [72]:
print(data)

{'Names': ['Ajay', 'Ravi Shankar', 'Akshay', 'MR.SALMAN KHAN'], 'Salary': [34567, 45679, 56789]}

In [73]:
data['Bank_Locker'] = {'Locker1':[12],'Locker2':[10]}

In [75]:
data

{'Names': ['Ajay', 'Ravi Shankar', 'Akshay', 'MR.SALMAN KHAN'],
 'Salary': [34567, 45679, 56789],
 'Bank_Locker': {'Locker1': [12], 'Locker2': [10]}}

In [81]:
data['Bank_Locker']['Locker2'][0] = 'joker👎'

In [82]:
data

{'Names': ['Ajay', 'Ravi Shankar', 'Akshay', 'MR.SALMAN KHAN'],
 'Salary': [34567, 45679, 56789],
 'Bank_Locker': {'Locker1': [12], 'Locker2': ['joker👎']}}

In [85]:
final_data = {'Noida':[{'Sec2':[10,20]},
                      {'Sec3':[1,2]},
                      {'Bank1':{'Bank2':12}}]}

In [86]:
final_data

{'Noida': [{'Sec2': [10, 20]}, {'Sec3': [1, 2]}, {'Bank1': {'Bank2': 12}}]}

In [87]:
final_data

{'Noida': [{'Sec2': [10, 20]}, {'Sec3': [1, 2]}, {'Bank1': {'Bank2': 12}}]}

In [91]:
final_data['Noida'][2]['Bank1']['Bank2']

12

In [92]:
final_data['Noida'][2]['Bank1']['Bank2'] = 'Tech Vidya'

In [93]:
final_data

{'Noida': [{'Sec2': [10, 20]},
  {'Sec3': [1, 2]},
  {'Bank1': {'Bank2': 'Tech Vidya'}}]}

In [94]:
final_data['Noida'][1][-1] = 'Majid'

In [95]:
print(final_data)

{'Noida': [{'Sec2': [10, 20]}, {'Sec3': [1, 2], -1: 'Majid'}, {'Bank1': {'Bank2': 'Tech Vidya'}}]}

In [96]:
final_data['Noida'][1]['Sec3'][1] = 'Tech vidya'

In [97]:
print(final_data)

{'Noida': [{'Sec2': [10, 20]}, {'Sec3': [1, 'Tech vidya'], -1: 'Majid'}, {'Bank1': {'Bank2': 'Tech Vidya'}}]}

In [98]:
#h/w

In [ ]:
# a = ()