In [1]:
a = 'mahima'
int(a)

ValueError: invalid literal for int() with base 10: 'mahima'

In [2]:
a = 13
bool(a)

True

In [3]:
s = 0
bool(s)

False

In [4]:
d = None
bool(d)

False

In [5]:
f = [1,234,5356]
bool(f)

True

In [6]:
b = 'jvbfdjkvn'
bool(b)

True

In [8]:
g = -87654
bool(g)

True

In [17]:
s = 89.765

list(s)

TypeError: 'float' object is not iterable

In [18]:
f = 456.567
str(f)

'456.567'

In [23]:
f = 3456.456

print(str(f))

3456.456

In [24]:
f = 35.346,23,45,4432,434,65

int(f)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [26]:

g = '[12,43,5,32243,46]'

In [27]:
g

'[12,43,5,32243,46]'

In [30]:
g = True

print(str(g),type(str(g)))

True <class 'str'>

In [32]:
d = (('Name',2345),)

dict(d)

{'Name': 2345}

In [33]:
g = {'Name':'Ajay','Age':23,'Class':12}

In [36]:
list(g)

tuple(g)

set(g)

{'Age', 'Class', 'Name'}

In [37]:
# how to write multiple statements in one line

In [39]:
a = 234;b = 'Mohan';c = [21,43,46,568];d = {1,243,6}

In [41]:
print(c)

[21, 43, 46, 568]

In [42]:
# how to declare same values to different variables

In [44]:
a = b = c = d = e = 24
a

24

In [46]:
# packing and unpacking concept

In [48]:
var = [1,2,3,4,5,56]

In [53]:
# unpacking
a,b,c,d,e,f = [1,2,3,4,5,56]

In [58]:
names = ['Ajay','karan','Nayan','Mohan','Komal']
s1,s2,s3,s4,s5 = names

In [56]:
s2

'karan'

In [60]:
a,b,f,g = 3,4,5

ValueError: not enough values to unpack (expected 4, got 3)

In [62]:
a,b,c,d,e = 'Mohan'

In [64]:
b

'o'

In [65]:
s1,s2,s3,s4,s5 = names

In [74]:
students = [s1,s2,s3,s4,s5]

In [75]:
students

['Ajay', 'karan', 'Nayan', 'Mohan', 'Komal']

In [80]:
students

['Ajay', 'karan', 'Nayan', 'Mohan', 'Komal']

In [81]:
(s1,s2,s3,s4,s5)

('Ajay', 'karan', 'Nayan', 'Mohan', 'Komal')

In [ ]:
list(('Ajay', 'karan', 'Nayan', 'Mohan', 'Komal'))

In [82]:
# int()
# list()
# str()

# STRING TOPIC

In [83]:
# m1
a = 'Ajay'
print(a,type(a))

Ajay <class 'str'>

In [86]:
# m2

s = "Komal's House"
print(s,type(s))

Komal's House <class 'str'>

In [87]:
# m2

s = 'Komal\'s House'
print(s,type(s))

Komal's House <class 'str'>

In [90]:
print('"Everything you\'ve ever wanted is sitting on the other side of fear."')

"Everything you've ever wanted is sitting on the other side of fear."

In [92]:
print('''"Everything you've ever wanted is sitting on the other side of fear."''')

"Everything you've ever wanted is sitting on the other side of fear."

In [95]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                 When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                 When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

In [96]:
print("""Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                 When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night""")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                 When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night

In [97]:
# string:- as an index

In [99]:
a = 'Mohan'
#    01234 


# a1,a2,a3,a4,a5 = a

In [102]:
a[2]+a[3]

'ha'

In [103]:
a = 'Karan'

b = 'Mr '

b+a

'Mr Karan'

In [104]:
a

'Karan'

In [105]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

K
a
r
a
n