In [1]:
#for loop break, continue,pass
# for loop with if else
# for with else
# nested for loop
# one liner for loop
# Imp Examples
# for loop list comphrension,tuple,dict
# Pattern printing

In [12]:

# # a = ['ola','uber','adani','maruti','kia','tata']

# # v = []
# # c = []


a  = ['ola','uber','Adani','maruti','kia','tata']
print(a)

['ola', 'uber', 'Adani', 'maruti', 'kia', 'tata']

In [23]:
v = []
c = []

for i in a:
    if i[0].lower() in 'aeiou':
        v.append(i)
    else:
        c.append(i)

In [24]:
b = 'mohan'

b[0]

'm'

In [25]:
'n' in b

True

In [26]:
print(v)

['ola', 'uber', 'Adani']

In [27]:
print(c)

['maruti', 'kia', 'tata']

In [29]:
a = 'Ajay'

In [30]:
a[::-1]

'yajA'

In [31]:
'Y'+'a'+'j'+'A'

'YajA'

In [37]:
a[::-1]

'yajA'

In [36]:
a = 'Ajay'
reverse_a = ''

for i in a:
    reverse_a = i+reverse_a
    
print(reverse_a)

yajA

In [43]:
a = [1,234,421,23,465,53,243,57,6,65,463]

for i in a:
    if i == 53:
        continue  # to skip that particular iteration or element we use continue
    else:
        print(i,':',i**2)

1 : 1
234 : 54756
421 : 177241
23 : 529
465 : 216225
243 : 59049
57 : 3249
6 : 36
65 : 4225
463 : 214369

In [45]:
students = ['Ajay','Karan','Ravi','Mohan','Anil','Sandeep']

for student in students:
    if student in ['Mohan','Anil']:
        continue
    else:
        print(f'Hey!! {student}üëç, You are allowed')

Hey!! Ajayüëç, You are allowed
Hey!! Karanüëç, You are allowed
Hey!! Raviüëç, You are allowed
Hey!! Sandeepüëç, You are allowed

In [46]:
# win Key + .

In [47]:
# break statement

In [50]:
a = ['Sandeep','Ajay','Karan','Ravi','Mohan','Anil','Sandeep','Akshay','Salman','Aman']



for i in a:
    if i == 'Sandeep':
        print(i,'Sandeep Found!!')
        break
        
    print(i,'Sandeep not found!!')

Sandeep Sandeep Found!!

In [59]:
a = ['Ajay','Karan','Ravi','Mohan','Anil','Sandeep','Akshay','Salman','Aman']



for i in a:
    if i == 'Sandeep':
        break
        print(i,'Sandeep Found!!')
        
    print(i,'Sandeep not found!!')

Ajay Sandeep not found!!
Karan Sandeep not found!!
Ravi Sandeep not found!!
Mohan Sandeep not found!!
Anil Sandeep not found!!

In [60]:
students = ['Ajay','Karan','Ravi','Mohan','Anil','Sandeep']

for student in students:
    if student in ['Mohan','Anil']:
        print('Skipped!!')
        continue
        
    else:
        print(f'Hey!! {student}üëç, You are allowed')

Hey!! Ajayüëç, You are allowed
Hey!! Karanüëç, You are allowed
Hey!! Raviüëç, You are allowed
Hey!! Sandeepüëç, You are allowed

In [63]:
students = ['Ajay','Karan','Ravi','Mohan','Anil','Sandeep']

for student in students:
    if student in ['Mohan','Anil']:
        pass
        print(student,'Skipped!!')
    else:
        print(f'Hey!! {student}üëç, You are allowed')

Hey!! Ajayüëç, You are allowed
Hey!! Karanüëç, You are allowed
Hey!! Raviüëç, You are allowed
Mohan Skipped!!
Anil Skipped!!
Hey!! Sandeepüëç, You are allowed

In [64]:
# break,continue,pass

In [66]:
for i in range(12345690):
    break

In [69]:
for i in range(12345690456):
    continue

KeyboardInterrupt

In [71]:
for i in range(12345690456):
    pass

KeyboardInterrupt

In [72]:
# table print

In [73]:
table = 3

for i in range(1,11):
    print(table,'x',i,'=',table*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [77]:
table = 3

for i in range(1,11):
    print(f'{table} x {i} = {table*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [90]:
no = range(1,11)

even_sum = 0
odd_sum = 0

for i in no:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
    
print('Even sum: ',even_sum)
print('Odd sum: ',odd_sum)

Even sum:  30
Odd sum:  25