In [3]:
# # # conditional programming
# # if 
# # elif
# # else



# # Flow control:- Loops
# for loop
# while loop
# infinite loop


# for each
# do while

In [4]:
# ()
# []
# {}
# ''
# ""

In [5]:
# for loop:- when we know the number of iterations()
# iterables:- that can be iterate(more than ones)

# while loop:-it depends on the given condition

In [6]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [11]:
help('Not')

No Python documentation found for 'Not'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [12]:
# syntax of for loop

In [13]:
# for (temp_var/iterator) in tuple,list,str,set,dict,frozenset,

In [14]:
# not allowed:- int,complex,float,True,None

In [19]:
import time


for i in ['Ajay','Ravi','Karan','Laptop','Job','Noida']:
    print(i)
    time.sleep(1)

Ajay
Ravi
Karan
Laptop
Job

KeyboardInterrupt:

In [20]:
import time


data = ['Ajay','Ravi','Karan','Laptop','Job','Noida']

for i in data:
    print(i)
    time.sleep(0.05)

Ajay
Ravi
Karan
Laptop
Job
Noida

In [21]:
import time


data = ('Ajay','Ravi','Karan','Laptop','Job','Noida')

for i in data:
    print(i)
    time.sleep(0.05)

Ajay
Ravi
Karan
Laptop
Job
Noida

In [23]:
import time


data = {'Ajay','Ajay','Ravi','Karan','Laptop','Job','Noida'}

for i in data:
    print(i)
    time.sleep(0.05)

Ravi
Noida
Karan
Job
Ajay
Laptop

In [24]:
import time


data = {'Name':'Ajay','Age':23,'Class':12,'Address':'Noida'}

for i in data:
    print(i)
    time.sleep(0.05)

Name
Age
Class
Address

In [28]:
import time


data = 'We are in Noida'

for i in data:
    print(i)
    time.sleep(1)

W
e

a
r
e

i
n

N
o
i
d
a

In [29]:
# int,float,complex

for i in 123467:
    print(i)

TypeError: 'int' object is not iterable

In [31]:
# int,float,complex

for i in '123467':
    print(i,type(i))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
6 <class 'str'>
7 <class 'str'>

In [32]:
for i in 123467.87654:
    print(i)

TypeError: 'float' object is not iterable

In [33]:
for i in 123467-98j:
    print(i)

TypeError: 'complex' object is not iterable

In [34]:
for i in None:
    print(i)

TypeError: 'NoneType' object is not iterable

In [35]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [40]:
students = ['Ajay','Ravi','Karan','Mohan','Lucky']

for student in students:
    print(students)

['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']
['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']
['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']
['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']
['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']

In [42]:
data = [1,23,4,657]
for a1 in data:
    print(a1)

1
23
4
657

In [44]:
students = ['Ajay','Ravi','Karan','Mohan','Lucky']

for Ajay in students:
    print(Ajay)

Ajay
Ravi
Karan
Mohan
Lucky

In [45]:
rahul = 'rahul'

for rahul in rahul:
    print(rahul)

r
a
h
u
l

In [46]:
students

['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']

In [47]:
# ['@Ajay','@Ravi','@karan','@Mohan','@Lucky']

In [54]:
final_data = []


for i in students:
    final_data.append('#'+i+'_Noida')

In [55]:
print(final_data)

['#Ajay_Noida', '#Ravi_Noida', '#Karan_Noida', '#Mohan_Noida', '#Lucky_Noida']

In [56]:
students

['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']

In [57]:
final_data

['#Ajay_Noida', '#Ravi_Noida', '#Karan_Noida', '#Mohan_Noida', '#Lucky_Noida']

In [61]:
trimmed_data = []


for i in final_data:
    trimmed_data.append(i.replace('#','').replace('_Noida',''))

In [62]:
print(trimmed_data)

['Ajay', 'Ravi', 'Karan', 'Mohan', 'Lucky']

In [66]:
# 

data = [12,43,21,3434,564,342,456,786,743,5,786,854,637]

even = []

odd = []


for i in data:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        

print('Even List:',even)
print('Odd List:',odd)

Even List: [12, 3434, 564, 342, 456, 786, 786, 854]
Odd List: [43, 21, 743, 5, 637]

In [67]:
# # # h/w


# # a = ['ola','uber','adani','maruti','kia','tata']

# # v = []
# # c = []

# # question

# table = 2