In [ ]:
# Square box
# 5 55 555 5555...
#       *
#     * *
#   * * *

In [15]:
# Square box

# 5 5 5 5 5
# 5 5 5 5 5 
# 5 5 5 5 5 
# 5 5 5 5 5 
# 5 5 5 5 5 

no  = 2

for i in range(no):
    print(f'{no} ' * no)

2 2
2 2

In [16]:
# 5 55 555 5555 55555...

In [36]:
no = 10

for i in range(1,no+1):
    print(str(no)*i,end = ' ')
print('\b...')

10 1010 101010 10101010 1010101010 101010101010 10101010101010 1010101010101010 101010101010101010 10101010101010101010 ...

In [42]:
# 
# no = 5

# A AB ABC ABCD ABCDE


import string

data = string.ascii_uppercase
no = 5
    
for i in range(1,no+1):
    print(data[0:i],end= ' ')

A AB ABC ABCD ABCDE

In [45]:
# # star: 3  space 4
#    *   #4
#   * *   #2
# * * *   #0

In [44]:
#       *   #6            # star: 4  space: 6
#     * *   #4
#   * * *   #2
# * * * *   #0



#         * #8         # star 5    space 8
#       * * #6
#     * * * #4
#   * * * * #2
# * * * * * #0



#           * #10    #star 6  space 10
#         * * #8
#       * * * #6
#     * * * * #4
#   * * * * * #2
# * * * * * * #0

In [61]:
no  = 10

spaces = no + (no - 3) + 1

for i in range(1,no+1):
    print( ' '*spaces + i*'* ')
    spaces -=2

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [67]:
a = 'mohan'

a.rjust(10,' ')

'     mohan'

In [93]:
no  = 3
for i in range(1,no+1):
    st = ('* '*i)
    print(st.rjust(no*2,' '))

    *
  * *
* * *

In [ ]:
        * #8 8 sp 1 star:- 9
      * * #6 7 sp  2star:- 9
    * * * #4 6 sp  3star:-9
  * * * * #2 5 sp  4star:-9
* * * * * #0 4 sp  5star:-9

In [121]:
no = 5
spaces = no +(no-3)+1
# print(spaces)
for i in range(no):
    for j in range(spaces):
        print(''*spaces,end=' ')
    
    for k in range(no+no-1-spaces):
        print('* ',end= '')
    spaces-=2
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *