In [2]:
a = (1,232,53,45,4125,67)

print(a,type(a))

(1, 232, 53, 45, 4125, 67) <class 'tuple'>

In [3]:
a = 23,123,54,67,54324,54,7

print(a,type(a))

(23, 123, 54, 67, 54324, 54, 7) <class 'tuple'>

In [4]:
# empty tuple

a = ()

print(a,type(a))

() <class 'tuple'>

In [5]:
# empty tuple

a = tuple()

print(a,type(a))

() <class 'tuple'>

In [6]:
a = list()
print(a,type(a))

[] <class 'list'>

In [8]:
# single element tuple

a = (23,)
print(a,type(a))

(23,) <class 'tuple'>

In [9]:
# basic op

a = (1,2,34)
b = (3,4,5)

print(a+b)

(1, 2, 34, 3, 4, 5)

In [14]:
# basic op
# +,-,*,//,/,%

a = (1,2,34)
b = (3,4,5)

print(a*5)

(1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34)

In [16]:
# H/w
# bit wise op
# &,|,~,<<,>>,^

In [18]:
# tuple are immutable in nature
# we can not change or assign item
# remains same as list
# indexing,slicing,nested,negative indexing

In [19]:
a = (1,243,6,57)

print(a[2])

6

In [20]:
a[2] = 1234567

TypeError: 'tuple' object does not support item assignment

In [21]:
a = (2,234,56,321,344,56,8,6543456)

a[2:7]

(56, 321, 344, 56, 8)

In [22]:
a[2:7] = 3456

TypeError: 'tuple' object does not support item assignment

In [23]:
# basic func
# min,max,sum,len,id,

In [24]:
a = (1,2432,467)

sum(a)

2900

In [25]:
min(a)

1

In [26]:
max(a)

2432

In [27]:
id(a)

2873125294592

In [29]:
len(a)

3

In [30]:
# #nested tuple


a = (1,2,3,45,(3,4,5,6,(4,5,6,78,(4,5,6,7,(3,56,7)))))


print(a)

(1, 2, 3, 45, (3, 4, 5, 6, (4, 5, 6, 78, (4, 5, 6, 7, (3, 56, 7)))))

In [35]:
a[-1][-1][-1][2]

6

In [36]:
a[-1][-1][-1][2] = 234567

TypeError: 'tuple' object does not support item assignment

In [37]:
# we can change element/elements of tuple with the help of type casting

In [38]:
a = (1,243,543,7)


print(a)

(1, 243, 543, 7)

In [42]:
a = list(a)

a[2] = 9999
print(a)

a = tuple(a)
print(a)

[1, 243, 9999, 7]
(1, 243, 9999, 7)

In [43]:
a = (1,2432,64,58,54,[36647,58,3,465],4)

print(a)

(1, 2432, 64, 58, 54, [36647, 58, 3, 465], 4)

In [46]:
a[-2][-2] = 99999

In [47]:
print(a)

(1, 2432, 64, 58, 54, [36647, 58, 99999, 465], 4)

In [48]:
# nested tuple change element

In [50]:
a = (1,243,54,(1,243,467,(2,34,657,98)))

# change 657 to 999

# methods

In [51]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [52]:
# 'count', 'index'

In [58]:
a = (11,1,2,2,2,(3,),3,3,3,4,4,4,5,56,67)


a.count((3))

3

In [59]:
a.index(56)

13

# Dictionary/Mapping/Hash/JSON

In [64]:
# a = {'key':'Value',...}
# 1 element: key:value


a = {'datatype':'datatype'}

In [66]:
# key position
# immutables:- tuple,str,int,float,complex,bool,frozenset,None
# mutable:- list,set,dict

# value position:- all data types(objects)

In [67]:
a = {'Name':'karan',
     'Age':23,
     'Address':'Noida',
    'Salary':87898.98}

print(a)

{'Name': 'karan', 'Age': 23, 'Address': 'Noida', 'Salary': 87898.98}

In [68]:
len(a)

4

In [69]:
# multiple values

In [76]:
a = {'Names':['Mohan','Ravi','Akshay','Karan','Ajay'],
    'Salary':[2,34,5,56,34],
    'Address':['Noida','Delhi','Haryana','Gurgaon','Bihar'],
    'Age':[12,23,34,45,56]}



print(a)
import pandas as pd

{'Names': ['Mohan', 'Ravi', 'Akshay', 'Karan', 'Ajay'], 'Salary': [2, 34, 5, 56, 34], 'Address': ['Noida', 'Delhi', 'Haryana', 'Gurgaon', 'Bihar'], 'Age': [12, 23, 34, 45, 56]}

In [78]:
table = pd.DataFrame(a)
table

    Names  Salary  Address  Age
0   Mohan       2    Noida   12
1    Ravi      34    Delhi   23
2  Akshay       5  Haryana   34
3   Karan      56  Gurgaon   45
4    Ajay      34    Bihar   56

In [80]:
table.to_excel('student_details.xlsx',index=False)
print('done')

done

In [82]:
null = 'I am null'

data = {'First_name':nulll}
data

NameError: name 'nulll' is not defined

In [83]:
#key position

In [84]:
# tuple
a = {(1,2,3,4):[1,233,546,7]}

print(a)

{(1, 2, 3, 4): [1, 233, 546, 7]}

In [85]:
# int
a = {23:[1,233,546,7]}

print(a)

{23: [1, 233, 546, 7]}

In [86]:
# float
a = {23.45:[1,233,546,7]}

print(a)

{23.45: [1, 233, 546, 7]}

In [89]:
# tuple
a = {(34.2,67.8):[1,233,546,7]}

print(a)

{(34.2, 67.8): [1, 233, 546, 7]}

In [90]:
# tuple
a = {True:[1,233,546,7]}

print(a)

{True: [1, 233, 546, 7]}

In [91]:
# tuple
a = {False:[1,233,546,7]}

print(a)

{False: [1, 233, 546, 7]}

In [92]:
# tuple
a = {45-9j:[1,233,546,7]}

print(a)

{(45-9j): [1, 233, 546, 7]}

In [93]:
# tuple
a = {{1,2,3}:[1,233,546,7]}

print(a)

TypeError: unhashable type: 'set'

In [95]:
a = frozenset({1,2,3,4,5})

In [96]:
type(a)

frozenset

In [97]:
# frozenset
a = {frozenset({1,2,3,4,5}):[1,233,546,7]}

print(a)

{frozenset({1, 2, 3, 4, 5}): [1, 233, 546, 7]}

In [98]:
# list,dict,set

a = {[1,243,26]:True}

print(a)

TypeError: unhashable type: 'list'

In [99]:
a = {{1,2,3}:True}

print(a)

TypeError: unhashable type: 'set'

In [100]:
a = {{'Name':'naman'}:True}

print(a)

TypeError: unhashable type: 'dict'

In [102]:
# all datatypes at value position


a = {1:True,
    2:(1,2,4,5),
    3:[12,43,45,7],
    4:{1,2,34},
    5:{'Name':'komal'},
    6:6,
    7:9.8,
    8:89-9j,
    9:None,
    10:'Ajay',
    11:frozenset((1,2,3,4))}


a

{1: True,
 2: (1, 2, 4, 5),
 3: [12, 43, 45, 7],
 4: {1, 2, 34},
 5: {'Name': 'komal'},
 6: 6,
 7: 9.8,
 8: (89-9j),
 9: None,
 10: 'Ajay',
 11: frozenset({1, 2, 3, 4})}