In [125]:

#

In [150]:
# Q4. Write a Python function to print all the prime numbers between number 1 and number2.
def check_pri(num1:int,num2:int):
   
    for i in range(num1,num2+1):
            if i%2==0:
               
                print (f'it is not a prime number',{i})
                
            else:
                print (f'it is a prime number',{i})

In [151]:
check_pri(1,10)

it is a prime number {1}
it is not a prime number {2}
it is a prime number {3}
it is not a prime number {4}
it is a prime number {5}
it is not a prime number {6}
it is a prime number {7}
it is not a prime number {8}
it is a prime number {9}
it is not a prime number {10}

In [80]:
#Q11. write a python program to print the given pattern.
no=6
for i in range(no+1):
    for j in range(i,no+1):
        print('*', end=" ")

    print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
#Q5. create a function to check given numbers is an armstrong or not.
def check_arms(number:int):
    arm = len(str(number))
    result = 0
    for i in str(number):
        result += int(i)**arm
        if result == number:
            print ('it is not an Armstrong')
        else:
            print(' It is armstrong')

In [4]:
check_arms(153)

 It is armstrong
 It is armstrong
it is not an Armstrong

In [104]:
check_arms(153)

 It is armstrong
 It is armstrong
it is not an Armstrong

In [7]:
# Q10.Write a python function to check if to strings are anagram without using any methods.

def check_anagram(word:'str',word2:'str')  :
    d1 = {}
    d2 = {}
    
    for i in word:
        d1[i] = word.count(i)
        
    for j in word2:
        d2[j] = word2.count(j)
        if d1  == d2:
            print('It is a anagram')
        else:
            print("Not an Anagram")

In [8]:
check_anagram('ear','are')

Not an Anagram
Not an Anagram
It is a anagram

In [65]:
#Q6. Write a python function to generate the first n fibonacci numbers.
def get_fibbo(numb:'int'):
    
    if type(numb) == int:
    
        fibbo = [0,1]

        for i in range(numb-2):
            fibbo.append(fibbo[-1] + fibbo[-2])
        print ('fibbo is:', fibbo)

In [105]:
get_fibbo(5)

fibbo is: [0, 1, 1, 2, 3]

In [ ]:
#Q1. Explain the mutables and immutable data types in python. Provide examples for both.

# Ans. Python has mainly two kinds of data types such as mutables and immutables. Mutable data types
# contains data which can be changed as per the requirements of user whereas Immutables datatypes contain
# data which can not be changed. examples for mutables datatypes are lists and for immutables are sets nd tuples.

In [ ]:
# Q8. 2. difference between return and print with examples.
#Ans. The main difference between return and print is that return allows you to perform further mathematical applications on the result. Return
#also makes your code look crisp and easy to understand. In contrast, print is used only to show the result and 
#you won't be able to change it without going to the code block prior to print.

In [110]:
#Q 13. write a python program that catches a value Error or Type Error exception and prints an approprite 
# message,what are the different Block of try and exception handling.

b=int(input ('enter a no. here: '))
print(b)

enter a no. here:  s

ValueError: invalid literal for int() with base 10: 's'

In [112]:

try:
    b=int(input ('enter a no. here: '))
    print(b)
except:
    print('try a no. instead of string')

enter a no. here:  f

try a no. instead of string

In [113]:
n=[2,3,4,5]
b='shiksha'
n+b

TypeError: can only concatenate list (not "str") to list

In [117]:
try:
    n=[2,3,4,5]
    b='shiksha'
    c=n+b
except:
    print ('string cannot be concatenated with a list')

string cannot be concatenated with a list

In [ ]:
# Q15.wrte a python program using regular expressions to find all email address in a given string.
     text="contact us at at techvidya@education.com or support@techvidya.org"

# Shiksha Test Remarks

1. 2.5 Marks, Example Missed

2. 

3. 

4. 2 Marks, Wrong Logic

5. 2 Marks, Good Try but wrong Logic

6. 4 Marks, Good

7. 

8. 2.5 Marks, Example Missed

9. 

10. 3.5 Marks, Indentation issue

11. 1 Marks, Wrong Pattern Code

12. 

13. 4 Marks, Good

14. 

15. 

Final Remarks: 21.5/60 Good theoretical Explanation, Example Missed, Typing speed increase, Focus on indentation, Focus on Logic, Do more practice